In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
# bring in data

mars_weather_data = pd.read_csv(f'../../../data/raw/public_sector/mars_weather_from_widget/mars_weather_from_widget_raw.csv')

display(mars_weather_data.shape)
display(mars_weather_data.head())

(3857, 36)

,sol,earth_date_utc,mars_season,solar_longitude_degrees,air_temperature_current,air_temperature_max,air_temperature_min,air_temperature_unit,atmospheric_opacity_current,atmospheric_opacity_max,atmospheric_opacity_min,atmospheric_opacity_unit,ground_temperature_current,ground_temperature_max,ground_temperature_min,ground_temperature_unit,pressure_current,pressure_max,pressure_min,pressure_unit,relative_humidity_current,relative_humidity_max,relative_humidity_min,relative_humidity_unit,sunrise_and_sunset_current,sunrise_and_sunset_max,sunrise_and_sunset_min,sunrise_and_sunset_unit,ultraviolet_radiation_current,ultraviolet_radiation_max,ultraviolet_radiation_min,ultraviolet_radiation_unit,wind_current,wind_max,wind_min,wind_unit
0,Sol4081,2024-01-29,Month 7,189,NaN,-1,-69,°C,Sunny,NaN,NaN,NaN,NaN,13,-78,°C,730,NaN,NaN,Pa,Value not available,NaN,NaN,%,NaN,05:18,17:21,NaN,High,NaN,NaN,NaN,Value not available,NaN,NaN,Km/h
1,Sol4080,2024-01-28,Month 7,188,NaN,-2,-72,°C,Sunny,NaN,NaN,NaN,NaN,14,-78,°C,729,NaN,NaN,Pa,Value not available,NaN,NaN,%,NaN,05:18,17:21,NaN,High,NaN,NaN,NaN,Value not available,NaN,NaN,Km/h
2,Sol4079,2024-01-27,Month 7,188,NaN,2,-75,°C,Sunny,NaN,NaN,NaN,NaN,14,-78,°C,729,NaN,NaN,Pa,Value not available,NaN,NaN,%,NaN,05:18,17:21,NaN,High,NaN,NaN,NaN,Value not available,NaN,NaN,Km/h
3,Sol4078,2024-01-26,Month 7,187,NaN,3,-73,°C,Sunny,NaN,NaN,NaN,NaN,16,-84,°C,728,NaN,NaN,Pa,Value not available,NaN,NaN,%,NaN,05:18,17:21,NaN,High,NaN,NaN,NaN,Value not available,NaN,NaN,Km/h
4,Sol4077,2024-01-25,Month 7,186,NaN,0,-70,°C,Sunny,NaN,NaN,NaN,NaN,15,-75,°C,728,NaN,NaN,Pa,Value not available,NaN,NaN,%,NaN,05:18,17:20,NaN,High,NaN,NaN,NaN,Value not available,NaN,NaN,Km/h

In [3]:
# bring in mars years data and covert to dt

mars_years = pd.read_csv(f'../../../data/raw/martian_years.csv')
for column in mars_years.columns[1:]:
    mars_years[column] = pd.to_datetime(mars_years[column], dayfirst=True)

display(mars_years)

   mars_year spring_equinox summer_solstice autumnal_equinox winter_solstice
0         31     2011-09-13      2012-03-30       2012-09-29      2013-02-23
1         32     2013-07-31      2014-02-15       2014-08-17      2015-01-11
2         33     2015-06-18      2016-01-03       2016-07-04      2016-11-28
3         34     2017-05-05      2017-11-20       2018-05-22      2018-10-16
4         35     2019-03-23      2019-10-08       2020-04-08      2020-09-02
5         36     2021-02-07      2021-08-25       2022-02-24      2022-07-21
6         37     2022-12-26      2023-07-12       2024-01-12      2024-06-07
7         38     2024-11-12      2025-05-29       2025-11-29      2026-04-25

In [4]:
# rename
mars_weather_data = mars_weather_data.rename(columns={'sol': 'curiosity_sol'})


# replace all the Value not available with nan
mars_weather_data['relative_humidity_current'] = mars_weather_data['relative_humidity_current'].replace('Value not available', np.nan)
mars_weather_data['wind_current'] = mars_weather_data['wind_current'].replace('Value not available', np.nan)

# check
display(mars_weather_data.head())

,curiosity_sol,earth_date_utc,mars_season,solar_longitude_degrees,air_temperature_current,air_temperature_max,air_temperature_min,air_temperature_unit,atmospheric_opacity_current,atmospheric_opacity_max,atmospheric_opacity_min,atmospheric_opacity_unit,ground_temperature_current,ground_temperature_max,ground_temperature_min,ground_temperature_unit,pressure_current,pressure_max,pressure_min,pressure_unit,relative_humidity_current,relative_humidity_max,relative_humidity_min,relative_humidity_unit,sunrise_and_sunset_current,sunrise_and_sunset_max,sunrise_and_sunset_min,sunrise_and_sunset_unit,ultraviolet_radiation_current,ultraviolet_radiation_max,ultraviolet_radiation_min,ultraviolet_radiation_unit,wind_current,wind_max,wind_min,wind_unit
0,Sol4081,2024-01-29,Month 7,189,NaN,-1,-69,°C,Sunny,NaN,NaN,NaN,NaN,13,-78,°C,730,NaN,NaN,Pa,NaN,NaN,NaN,%,NaN,05:18,17:21,NaN,High,NaN,NaN,NaN,NaN,NaN,NaN,Km/h
1,Sol4080,2024-01-28,Month 7,188,NaN,-2,-72,°C,Sunny,NaN,NaN,NaN,NaN,14,-78,°C,729,NaN,NaN,Pa,NaN,NaN,NaN,%,NaN,05:18,17:21,NaN,High,NaN,NaN,NaN,NaN,NaN,NaN,Km/h
2,Sol4079,2024-01-27,Month 7,188,NaN,2,-75,°C,Sunny,NaN,NaN,NaN,NaN,14,-78,°C,729,NaN,NaN,Pa,NaN,NaN,NaN,%,NaN,05:18,17:21,NaN,High,NaN,NaN,NaN,NaN,NaN,NaN,Km/h
3,Sol4078,2024-01-26,Month 7,187,NaN,3,-73,°C,Sunny,NaN,NaN,NaN,NaN,16,-84,°C,728,NaN,NaN,Pa,NaN,NaN,NaN,%,NaN,05:18,17:21,NaN,High,NaN,NaN,NaN,NaN,NaN,NaN,Km/h
4,Sol4077,2024-01-25,Month 7,186,NaN,0,-70,°C,Sunny,NaN,NaN,NaN,NaN,15,-75,°C,728,NaN,NaN,Pa,NaN,NaN,NaN,%,NaN,05:18,17:20,NaN,High,NaN,NaN,NaN,NaN,NaN,NaN,Km/h

In [5]:
# dropping columns where all values are NaN
mars_weather_data = mars_weather_data.dropna(axis=1, how='all')

# check
display(mars_weather_data.head())

,curiosity_sol,earth_date_utc,mars_season,solar_longitude_degrees,air_temperature_max,air_temperature_min,air_temperature_unit,atmospheric_opacity_current,ground_temperature_max,ground_temperature_min,ground_temperature_unit,pressure_current,pressure_unit,relative_humidity_unit,sunrise_and_sunset_max,sunrise_and_sunset_min,ultraviolet_radiation_current,wind_unit
0,Sol4081,2024-01-29,Month 7,189,-1,-69,°C,Sunny,13,-78,°C,730,Pa,%,05:18,17:21,High,Km/h
1,Sol4080,2024-01-28,Month 7,188,-2,-72,°C,Sunny,14,-78,°C,729,Pa,%,05:18,17:21,High,Km/h
2,Sol4079,2024-01-27,Month 7,188,2,-75,°C,Sunny,14,-78,°C,729,Pa,%,05:18,17:21,High,Km/h
3,Sol4078,2024-01-26,Month 7,187,3,-73,°C,Sunny,16,-84,°C,728,Pa,%,05:18,17:21,High,Km/h
4,Sol4077,2024-01-25,Month 7,186,0,-70,°C,Sunny,15,-75,°C,728,Pa,%,05:18,17:20,High,Km/h

In [6]:
# drop unneded cols
mars_weather_data.drop(columns=['wind_unit', 'relative_humidity_unit', 'atmospheric_opacity_current', 'air_temperature_unit', 'ground_temperature_unit', 'pressure_unit'], inplace=True)

# fix uv col
mars_weather_data = mars_weather_data.replace('Value not available', np.nan)
mars_weather_data['ultraviolet_radiation_current'] = mars_weather_data['ultraviolet_radiation_current'].replace('Not available', np.nan)


# rename
mars_weather_data = mars_weather_data.rename(columns={'mars_season': 'mars_month', 'air_temperature_max': 'air_temperature_max_celsius', 'air_temperature_min': 'air_temperature_min_celsius', 'ground_temperature_max': 'ground_temperature_max_celsius', 'ground_temperature_min': 'ground_temperature_min_celsius', 'pressure_current': 'pressure_current_pascals'})


# remove text from integer cols
mars_weather_data['curiosity_sol'] = mars_weather_data['curiosity_sol'].str.extract('(\d+)').astype(int)
mars_weather_data['mars_month'] = mars_weather_data['mars_month'].str.extract('(\d+)').astype(int)

# check
display(mars_weather_data.head())

,curiosity_sol,earth_date_utc,mars_month,solar_longitude_degrees,air_temperature_max_celsius,air_temperature_min_celsius,ground_temperature_max_celsius,ground_temperature_min_celsius,pressure_current_pascals,sunrise_and_sunset_max,sunrise_and_sunset_min,ultraviolet_radiation_current
0,4081,2024-01-29,7,189,-1,-69,13,-78,730,05:18,17:21,High
1,4080,2024-01-28,7,188,-2,-72,14,-78,729,05:18,17:21,High
2,4079,2024-01-27,7,188,2,-75,14,-78,729,05:18,17:21,High
3,4078,2024-01-26,7,187,3,-73,16,-84,728,05:18,17:21,High
4,4077,2024-01-25,7,186,0,-70,15,-75,728,05:18,17:20,High

In [7]:
# convert col to date
mars_weather_data['earth_date_utc'] = pd.to_datetime(mars_weather_data['earth_date_utc'])

# convert cols to int
columns_to_convert_to_int = ['mars_month', 'solar_longitude_degrees', 'air_temperature_max_celsius', 'air_temperature_min_celsius', 'ground_temperature_max_celsius', 'ground_temperature_min_celsius', 'pressure_current_pascals']
mars_weather_data[columns_to_convert_to_int] = mars_weather_data[columns_to_convert_to_int].astype('Int64')

# convert times
mars_weather_data['sunrise_and_sunset_max'] = pd.to_datetime(mars_weather_data['sunrise_and_sunset_max'], format='%H:%M').dt.time
mars_weather_data['sunrise_and_sunset_min'] = pd.to_datetime(mars_weather_data['sunrise_and_sunset_min'], format='%H:%M').dt.time

# lowercase
mars_weather_data['ultraviolet_radiation_current'] = mars_weather_data['ultraviolet_radiation_current'].str.lower()


# check
display(mars_weather_data.head())

,curiosity_sol,earth_date_utc,mars_month,solar_longitude_degrees,air_temperature_max_celsius,air_temperature_min_celsius,ground_temperature_max_celsius,ground_temperature_min_celsius,pressure_current_pascals,sunrise_and_sunset_max,sunrise_and_sunset_min,ultraviolet_radiation_current
0,4081,2024-01-29,7,189,-1,-69,13,-78,730,05:18:00,17:21:00,high
1,4080,2024-01-28,7,188,-2,-72,14,-78,729,05:18:00,17:21:00,high
2,4079,2024-01-27,7,188,2,-75,14,-78,729,05:18:00,17:21:00,high
3,4078,2024-01-26,7,187,3,-73,16,-84,728,05:18:00,17:21:00,high
4,4077,2024-01-25,7,186,0,-70,15,-75,728,05:18:00,17:20:00,high

In [8]:

def find_mars_year_and_season(earth_date, solar_longitude_degrees):
    
    for i, row in mars_years.iterrows():
        spring_equinox = row['spring_equinox']
        if i < len(mars_years) - 1:
            next_spring_equinox = mars_years.iloc[i + 1]['spring_equinox']
        else:
            next_spring_equinox = spring_equinox + pd.DateOffset(years=2)  # Approximation
        
        # check if date falls within this mars year range
        if spring_equinox <= earth_date < next_spring_equinox:
            mars_year = row['mars_year']
            break
    else:
        # handle errors
        return None, None

    # determine season based on longitude
    if 0 <= solar_longitude_degrees < 90:
        season = "spring"
    elif 90 <= solar_longitude_degrees < 180:
        season = "summer"
    elif 180 <= solar_longitude_degrees < 270:
        season = "autumn"
    else:
        season = "winter"
    
    return mars_year, season

# apply
mars_weather_data['mars_year'], mars_weather_data['season'] = zip(*mars_weather_data.apply(lambda row: find_mars_year_and_season(row['earth_date_utc'], row['solar_longitude_degrees']), axis=1))

In [9]:
# individual data errors fix
mars_weather_data.loc[mars_weather_data['curiosity_sol'] == 3693, 'mars_year'] = 36

In [10]:

# fix col order
first_cols = ['curiosity_sol', 'earth_date_utc', 'mars_year', 'mars_month', 'solar_longitude_degrees', 'season']
remaining_cols_sorted = sorted(mars_weather_data.columns.drop(first_cols))
cols_sorted = first_cols + remaining_cols_sorted

mars_weather_data = mars_weather_data[cols_sorted]

# check
mars_weather_data.head()

,curiosity_sol,earth_date_utc,mars_year,mars_month,solar_longitude_degrees,season,air_temperature_max_celsius,air_temperature_min_celsius,ground_temperature_max_celsius,ground_temperature_min_celsius,pressure_current_pascals,sunrise_and_sunset_max,sunrise_and_sunset_min,ultraviolet_radiation_current
0,4081,2024-01-29,37,7,189,autumn,-1,-69,13,-78,730,05:18:00,17:21:00,high
1,4080,2024-01-28,37,7,188,autumn,-2,-72,14,-78,729,05:18:00,17:21:00,high
2,4079,2024-01-27,37,7,188,autumn,2,-75,14,-78,729,05:18:00,17:21:00,high
3,4078,2024-01-26,37,7,187,autumn,3,-73,16,-84,728,05:18:00,17:21:00,high
4,4077,2024-01-25,37,7,186,autumn,0,-70,15,-75,728,05:18:00,17:20:00,high

In [11]:
# see types
mars_weather_data.dtypes

curiosity_sol                              int64
earth_date_utc                    datetime64[ns]
mars_year                                  int64
mars_month                                 Int64
solar_longitude_degrees                    Int64
season                                    object
air_temperature_max_celsius                Int64
air_temperature_min_celsius                Int64
ground_temperature_max_celsius             Int64
ground_temperature_min_celsius             Int64
pressure_current_pascals                   Int64
sunrise_and_sunset_max                    object
sunrise_and_sunset_min                    object
ultraviolet_radiation_current             object
dtype: object

In [12]:
# save
mars_weather_data.to_csv(f'../../../data/processed/public_sector/mars_weather_from_widget/mars_weather_from_widget_processed.csv', index=False)